@model MovieIndex.Models.Movie

@{
    ViewBag.Title = "Movie Details";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Movie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DirectorName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DirectorName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Genre.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genre.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReleaseDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReleaseDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>