@model MovieIndex.Models.Movie

@{
    ViewBag.Title = "Edit Movie";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)

    @Html.Partial("Fields", Model)
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/rating")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/rating")
 
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.ReleaseDate)").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#@Html.IdFor(model => model.Rating)").rating();


            $.getJSON("@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "directors"})", function (data) {
                $("#@Html.IdFor(model => model.DirectorName)").autocomplete({
                    source: data
                });
            });
        })
    </script>
}