@model MovieIndex.Models.Movie

@using MovieIndex.Helpers;

<fieldset>
    <legend>Movie</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.DirectorName)
    </div>
    <div class="editor-field">
        @Html.EditorFor( model => model.DirectorName )
        @Html.ValidationMessageFor(model => model.DirectorName)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.GenreId, "Genre")
    </div>
    <div class="editor-field">
        @Html.DropDownList( "GenreId", String.Empty)
        @Html.ValidationMessageFor(model => model.GenreId)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.ReleaseDate)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ReleaseDate)
        @Html.ValidationMessageFor(model => model.ReleaseDate)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Rating)
    </div>
    <div class="editor-field">
        @Html.RatingFor(model => model.Rating, 5 )
        @Html.ValidationMessageFor(model => model.Rating)
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
</fieldset>